apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: draughtsman
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - draughtsman
      - draughtsman-values-configmap
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - secrets
    resourceNames:
      - draughtsman
      - draughtsman-pull-secret
      - draughtsman-values-secret
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: draughtsman-tiller
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - list
  - apiGroups:
      - ""
    resources:
      - pods/portforward
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: draughtsman
  namespace: draughtsman
subjects:
  - kind: ServiceAccount
    name: draughtsman
    namespace: draughtsman
roleRef:
  kind: ClusterRole
  name: draughtsman
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: draughtsman-tiller
  namespace: kube-system
subjects:
  - kind: ServiceAccount
    name: draughtsman
    namespace: draughtsman
roleRef:
  kind: ClusterRole
  name: draughtsman-tiller
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: draughtsman-psp
rules:
  - apiGroups:
      - extensions
    resources:
      - podsecuritypolicies
    verbs:
      - use
    resourceNames:
      - draughtsman-psp
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: draughtsman-psp
subjects:
  - kind: ServiceAccount
    name: draughtsman
    namespace: draughtsman
roleRef:
  kind: ClusterRole
  name: draughtsman-psp
  apiGroup: rbac.authorization.k8s.io
